.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    width:70%;
    margin:0 auto;

}
.product-information{
    margin-left: 50px;
}
.product-name{
    font-weight: 400;
    color:blue;
    cursor: pointer;
    
}
.main-button{
    background:linear-gradient(cyan,white);
    width:180px;
    height: 50px;
    border:1px solid cyan;
    border-radius:10px;
    outline:none;
    color:black;
    cursor: pointer;
   
}