.product{
    display: flex;
    
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    width:70%;
    margin:0 auto;

}

.product-name{
    font-weight: 400;
    color:blue;
    cursor: pointer;
    
}
.main-button{
    background:linear-gradient(rgba(238, 255, 0, 0.109),rgba(255, 255, 255, 0.459));
    width:180px;
    height: 50px;
    border:1px solid goldenrod;
    border-radius:10px;
    outline:none;
    color:black;
    cursor: pointer;
   
}